// Here you can add other styles
.badge-active {
  color: #fff;
  background-color: #2eb85c;
}
.badge-inactive {
  color: #4f5d73;
  background-color: #ced2d8;
}

.table th {
    border-top: none;
}
.table td {
    vertical-align: middle;
}

.max-w-150px {
  max-width: 150px;
}

.min-w-150px {
  min-width: 150px;
}
